section {
    /* This overwrites all.cs section attributes */
    /* other overwrites included in this file */
    width: 100%;
    margin-left: 0;
}

.submit {
    float: none;
    display: inline-block;

    margin: 18px auto 30px auto;
}

.titlePhrase {
    margin-top: 50px;

    margin-bottom: 35px;
}

#incorrectInfo {
    color: red;
    font-size: 25px;

    text-align: center;

    display: block;
}

#correctInfo {
    font-size: 20px;

    margin-top: 80px;

    text-align: center;

    display: block;
    margin: 0 auto;

    width: 60%;
}

.errorSection {
    text-align: center;

    margin: 0 auto;
    margin-bottom: 20px;

    height: 60%;
    width: 50%;
}

.detailsForm {
    text-align: center;

    margin-top: 16px;
}

.input {
    display: block;
    margin: 20px auto 30px auto;
}

.tip {
    display: inline-block;

    margin-bottom: 15px;
}