section {
    width: 100%;
    margin-left: 0;
}

label {
    margin-left: 24%;

    display: inline-block;
    width: 150px;
}

.submit {
    float: none;

    display: block;
    margin: 10px auto 30px auto;
}

.titlePhrase {
    margin-top: 50px;

    margin-bottom: 35px;
}

.detailsForm {
    margin-top: 16px;
}

.tip {
    margin-left: 20px;
}

.forgot {
    color: #000;
    text-decoration: none;

    text-align: center;

    display: block;
}

.forgot:hover {
     text-decoration: underline;
 }
