label {
    display: block;
}

section {
    /* This overwrites all.cs section attributes */
    /* other overwrites included in this file */
    width: 100%;
    margin-left: 0;
}

.submit {
    float: none;

    display: block;
    margin: 10px auto 30px auto;
}

.titlePhrase {
    margin-top: 50px;
}

.detailsForm {
    text-align: center;
}