main {
    /* To stop horizontal scroll bar from displaying */
    height: calc(100% - 140px);
}

section {
    width: 40%;
    height: 40%;

    margin-right: 6%;

    float: right;
    position: relative;
}

label {
    display: block;
}

.submit {
    float: none;

    display: block;
    margin: 10px auto 30px auto;
}

aside {
    width: 37%;

    /* auto is initial setting */
    bottom: auto;

    margin-left: 40px;
}

.titlePhrase {
    margin-top: 40px;
    margin-bottom: 12px;
}

.titlePhraseSmall {
    font-size: 30px;
    text-align: center;

    display: block;
    margin-bottom: 30px;
}

#userInfoArea {
    margin-left: 24px;
}

#userInfoArea th {
    padding: 13px 24px;
}

#userInfoArea td {
    padding: 13px 24px;
}

.userTable {
    font-size: 16px;

    background-color: rgb(230, 230, 230);

    table-layout: fixed;
    margin: 0 auto;
}

.postsTable {
    table-layout: fixed;
    width: 100%;
}

.userInfoTable {
    border: none;

    display: inline-table;
    width: 456px;

    table-layout: fixed;
}

#dispNameColLabel {
    width: 180px;

}

#dispNameColValue {
    width: 276px;
}

#IDHeader {
    width: 110px;
}

#PWHeader {
    width: 41px;
}

#postedAtHeader {
    width: 155px;
}

.IDLinkCell {
    color: #000;
    font-weight: bold;

    text-decoration: none;
}

.IDLinkCell:hover {
    text-decoration: underline;
}

.imageCell {
    padding: 4px 5px 0 5px;
}

table, th, td {
    border: 1px solid #E25D33;
    border-collapse: collapse;

    text-align: center;
}

tr {
    height: 45px;
}

th, td {
    padding: 8px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#input {
    margin: 15px auto 0 auto;
    display: block;
}

.submit {
    display: inline-block;
    padding: 8px 20px;
}

.field {
    background-color: white;

    width: 180px;

    margin: 0;
    margin-right: 15px;
}

.changeSubmit {
    margin: 0;
    padding: 5px 10px;
}

#fieldPassword {
    display: block;
    margin-bottom: 13px;
    margin-left: 7px;
}

#incorrectInfo {
    font-size: 20px;

    margin-bottom: 20px;
}

#correctInfo {
    color: green;
    font-size: 20px;

    margin-bottom: 20px;
    text-align: center;

    display: block;
}