label {
    display: block;
}

section {
    width: 100%;
    margin-left: 0;
}

.titlePhrase {
    margin-top: 50px;
}

.detailsForm {
    padding-left: 22%;
}

.submit {
    float: none;

    display: block;
    margin: 10px auto 30px auto;

    margin-left: 27%;
}

label {
    text-align: left;
    width: 200px;
    display: inline-block;
}

.field {
    margin-right: 17px;
}

.hoverHelp {
    margin-right: 10px;
}

#incorrectInfo {
    text-align: left;

    margin-bottom: 20px;
}