label {
    display: block;
}

section {
    /* This overwrites all.cs section attributes */
    /* other overwrites included in this file */
    width: 100%;
    margin-left: 0;
}

.titlePhrase {
    margin-top: 40px;
}

aside {
    padding: 53px 1px 0 19px;
}

#resultsTable {
    font-size: 16px;

    background-color: rgb(230, 230, 230);

    margin: 0px auto 30px auto;
    width: 70%;

    table-layout: fixed;
}

#IDHeader {
    width: 110px;
}

#PWHeader {
    width: 41px;
}

#postedByHeader {
    width: 200px;
}

#postedAtHeader {
    width: 155px;
}

.IDLinkCell {
    color: #000;
    font-weight: bold;

    text-decoration: none;
}

.IDLinkCell:hover {
    text-decoration: underline;
}

.imageCell {
    padding: 4px 5px 0px 5px;
}

table, th, td {
    border: 1px solid #E25D33;
    border-collapse: collapse;

    text-align: center;
}

tr {
    height: 45px;
}

td {
    padding: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}