section {
    width: 100%;
    margin-left: 0;
    height: calc(100% - 200px);
}

label {
    display: inline-block;
}

.titlePhrase {
    margin-top: 50px;
}

.detailsForm {
    height: auto;
}

.redTitle {
    color: red;
}

.detailsForm {
    text-align: center;
}

.submit {
    float: none;

    display: block;
    margin: 10px auto 30px auto;
}

.input {
    margin: 16px auto 28px auto;

    display: block;
}

#helpMessage {
    text-align: left;
}

#submitDisplayName {
    margin-bottom: 50px;
}

#submitAll {
    margin-top: 15px;
}

#helpBoxQ {
    margin: 0 7px;
}